body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overscroll-behavior: none;
  position: fixed;
  overflow: hidden;
  width: 100svw;
  height: 100svh;
}